*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background: rgb(9, 109, 9);
    

}
h1{
    color:goldenrod;
}

.btn{
    color:#016f32;
    width:150px;
    background: goldenrod;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}


