/* Just taking a little break to learn css flex box and grid, 
since the next tutorial in asynchorous in javascript*/
 /* justify content: center , end , start, space-around, space between note: justify content is always on the main axis */
 /* you use justify content for containers only and not items */
 /* Note: you set the height first align-items is used to align itemss of a box note Align item is always on the cross axis*/
 /* to select an item in a container you use aa psudo selector .item:nth-of-type(number of the positio i.e 3)*/
 /* align-self  is used for item of a container */
 /*order: to set the order of a item*/
 /* flex basis is the same as width*/


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #000000;
        background-color: #1d29ca81;
        
    }
    ul{
        list-style-type: none;
    }

    img{
        max-width: 100%;
    }

    h1, h2 {
        margin-bottom: 15px;
    }

    .container{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .navbar{
        background: #3474e6;
        color:white;
        height: 60px;
    }

    .navbar .logo{
        font-size: x-large;
        font-weight: bold;
    }

    .navbar a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        height: 100%;

    }
    .navbar a:hover{
        color: #000000;
    }

    .navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .navbar ul{
        display: flex;
        gap: 20px;
    }

    .header{
        background:  #1d29ca;
       color: white;
       min-width: 400px;
    }

    .header h1{
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
    }

    .header .img{
        max-width: 400px;
    }

    .header .container{
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
    }
    .boxes .container{
        display: flex;
        justify-content: space-between;
    } 
    .box{
        flex: 1;
        background: #3474e6;
        color: white;
        border-radius: 10px;
        margin: 20px 10px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.6);
        padding: 15px 30px;
    }

    .box:hover{
        background: #5e1ed6;
    }

    .box i{
        margin-right:10px;
    }
 



 




