
body {
    background-color: lightblue;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    font-size: 50px;

}
h2{
    text-align: center; 
    
    font-size: 40px;
}

button{
    padding: 10px;
    font-size: 20px;
    margin-left: 200px;
    background-color: orangered;
    
}
.save-btn{
    margin-top: 20px;
    margin-left: 200px;
    background-color: yellowgreen;
}