/* Just taking a little break to learn css flex box and grid, 
since the next tutorial in asynchorous in javascript*/
 /* justify content: center , end , start, space-around, space between */
 /* you use justify content for containers only and not items */
 /* Note: you set the height first align-items is used to align itemss of a box*/
 /* to select an item in a container you use aa psudo selector .item:nth-of-type(number of the positio i.e 3)*/
 /* align-self  is used for item of a container*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    height: 500px;
    display: flex; 
    background-color: rgb(121, 165, 231);
    justify-content: space-between;
    align-items: center;
   
}

.item{
    width: 100px;
    height: 100px;
    background-color: purple;
    color: white;
    margin: 10px;
  
}
.item:nth-of-type(3){
    background-color: #343fda;
    align-self: flex-end;
}

